<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.lanou.entity.Order">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="scrap_code" jdbcType="VARCHAR" property="scrapCode" />
		<result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
		<result column="sc_id" jdbcType="VARCHAR" property="scId" />
		<result column="rd_id" jdbcType="VARCHAR" property="rdId" />
		<result column="amount" jdbcType="INTEGER" property="amount" />
		<result column="unit" jdbcType="VARCHAR" property="unit" />
		<result column="money" jdbcType="INTEGER" property="money" />
		<result column="sc_status" jdbcType="VARCHAR" property="scStatus" />
		<result column="rd_status" jdbcType="VARCHAR" property="rdStatus" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="scrapName" jdbcType="VARCHAR" property="scrapName" />
		<result column="ownerName" jdbcType="VARCHAR" property="ownerName" />
		<result column="scName" jdbcType="VARCHAR" property="scName" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_no, scrap_code, owner_id, sc_id, rd_id, amount, unit, money,
		sc_status,
		rd_status, update_time, create_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from reclamation_order
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!--遍历 -->
	<select id="getPageList" resultMap="BaseResultMap">
		select o.id, o.order_no,o.amount, o.unit, o.money,
		 o.update_time, o.create_time,
		s.scrap_name as scrapName ,w.name as ownerName ,
		c.name as scName,d.dict_text as scStatus,d1.dict_text as rdStatus
		from reclamation_order o
		LEFT JOIN scrap s on o.scrap_code = s.scrap_code
		left join owner w on o.owner_id = w.id
		LEFT JOIN scrap_collector c on o.sc_id = c.id  
		left join sys_dict d on o.sc_status = d.dict_option
		left join sys_dict d1 on o.rd_status = d1.dict_option
		<where>
			<if test="search != null and search !=''">
				INSTR(ifnull(w.name,''),'${search}') > 0
			</if>
		</where>
		<if test="subSQL != null and subSQL !='' ">
			${subSQL}
		</if>
	</select>
	<select id="getTotalCount" resultType="java.lang.Integer">
		select
		count(1)
		from reclamation_order o
		LEFT JOIN scrap s on o.scrap_code = s.scrap_code
		left join owner w on o.owner_id = w.id
		LEFT JOIN scrap_collector c on c.id = o.sc_id
		<where>
			<if test="search != null and search !=''">
				INSTR(ifnull(w.name,''),'${search}') > 0
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from reclamation_order
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lanou.entity.Order">
		insert into reclamation_order (id, order_no, scrap_code,
		owner_id, sc_id, rd_id,
		amount, unit, money,
		sc_status, rd_status, update_time,
		create_time)
		values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR},
		#{scrapCode,jdbcType=VARCHAR},
		#{ownerId,jdbcType=VARCHAR}, #{scId,jdbcType=VARCHAR}, #{rdId,jdbcType=VARCHAR},
		#{amount,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR},
		#{money,jdbcType=INTEGER},
		#{scStatus,jdbcType=VARCHAR}, #{rdStatus,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.lanou.entity.Order">
		insert into reclamation_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="scrapCode != null">
				scrap_code,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
			<if test="scId != null">
				sc_id,
			</if>
			<if test="rdId != null">
				rd_id,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="unit != null">
				unit,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="scStatus != null">
				sc_status,
			</if>
			<if test="rdStatus != null">
				rd_status,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="scrapCode != null">
				#{scrapCode,jdbcType=VARCHAR},
			</if>
			<if test="ownerId != null">
				#{ownerId,jdbcType=VARCHAR},
			</if>
			<if test="scId != null">
				#{scId,jdbcType=VARCHAR},
			</if>
			<if test="rdId != null">
				#{rdId,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=INTEGER},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				#{money,jdbcType=INTEGER},
			</if>
			<if test="scStatus != null">
				#{scStatus,jdbcType=VARCHAR},
			</if>
			<if test="rdStatus != null">
				#{rdStatus,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lanou.entity.Order">
		update reclamation_order
		<set>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="scrapCode != null">
				scrap_code = #{scrapCode,jdbcType=VARCHAR},
			</if>
			<if test="ownerId != null">
				owner_id = #{ownerId,jdbcType=VARCHAR},
			</if>
			<if test="scId != null">
				sc_id = #{scId,jdbcType=VARCHAR},
			</if>
			<if test="rdId != null">
				rd_id = #{rdId,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=INTEGER},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				money = #{money,jdbcType=INTEGER},
			</if>
			<if test="scStatus != null">
				sc_status = #{scStatus,jdbcType=VARCHAR},
			</if>
			<if test="rdStatus != null">
				rd_status = #{rdStatus,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lanou.entity.Order">
		update reclamation_order
		set order_no = #{orderNo,jdbcType=VARCHAR},
		scrap_code = #{scrapCode,jdbcType=VARCHAR},
		owner_id = #{ownerId,jdbcType=VARCHAR},
		sc_id = #{scId,jdbcType=VARCHAR},
		rd_id = #{rdId,jdbcType=VARCHAR},
		amount = #{amount,jdbcType=INTEGER},
		unit = #{unit,jdbcType=VARCHAR},
		money = #{money,jdbcType=INTEGER},
		sc_status = #{scStatus,jdbcType=VARCHAR},
		rd_status = #{rdStatus,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>